<nav class="navbar">

  <button class="nav-hamburger" aria-label="Open navigation">&#9776;</button>
  <div class="navbar-links" style="justify-content:center; width:100%; display:flex;">
<div class="nav-category">
      <button type="button" class="brand-nav-btn category-nav-btn">Banking</button>
      <div class="nav-dropdown" style="border: 2px solid #1a237e;">
        <ul>
<li><a href="/pages/offers/monzo/" class="navbar-link">Monzo</a></li>
<li><a href="/pages/offers/raisin/" class="navbar-link">Raisin</a></li>
<li><a href="/pages/offers/wise/" class="navbar-link">Wise</a></li>
        </ul>
      </div>
    </div>
<div class="nav-category">
      <button type="button" class="brand-nav-btn category-nav-btn">Business Tools</button>
      <div class="nav-dropdown" style="border: 2px solid #b71c1c;">
        <ul>
<li><a href="/pages/offers/baremetrics/" class="navbar-link">Baremetrics</a></li>
<li><a href="/pages/offers/engagebay/" class="navbar-link">EngageBay</a></li>
<li><a href="/pages/offers/fiverr/" class="navbar-link">Fiverr</a></li>
<li><a href="/pages/offers/mailblaze/" class="navbar-link">Mail Blaze</a></li>
<li><a href="/pages/offers/neuraltext/" class="navbar-link">Neuraltext</a></li>
<li><a href="/pages/offers/outseta/" class="navbar-link">Outseta</a></li>
<li><a href="/pages/offers/printify/" class="navbar-link">Printify</a></li>
<li><a href="/pages/offers/sharelytics/" class="navbar-link">Sharelytics</a></li>
<li><a href="/pages/offers/supermonitoring/" class="navbar-link">Super Monitoring</a></li>
<li><a href="/pages/offers/userback/" class="navbar-link">Userback</a></li>
        </ul>
      </div>
    </div>
<div class="nav-category">
      <button type="button" class="brand-nav-btn category-nav-btn">Cashback</button>
      <div class="nav-dropdown" style="border: 2px solid #00695c;">
        <ul>
<li><a href="/pages/offers/befrugal/" class="navbar-link">BeFrugal</a></li>
<li><a href="/pages/offers/cashback-co-uk/" class="navbar-link">Cashback.co.uk</a></li>
<li><a href="/pages/offers/quidco/" class="navbar-link">Quidco</a></li>
<li><a href="/pages/offers/rakuten/" class="navbar-link">Rakuten</a></li>
<li><a href="/pages/offers/topcashback/" class="navbar-link">TopCashback</a></li>
        </ul>
      </div>
    </div>
<div class="nav-category">
      <button type="button" class="brand-nav-btn category-nav-btn">Media</button>
      <div class="nav-dropdown" style="border: 2px solid #7b1fa2;">
        <ul>
<li><a href="/pages/offers/amazon-prime-video/" class="navbar-link">Amazon Prime Video</a></li>
        </ul>
      </div>
    </div>
<div class="nav-category">
      <button type="button" class="brand-nav-btn category-nav-btn">Networks</button>
      <div class="nav-dropdown" style="border: 2px solid #bfa600;">
        <ul>
<li><a href="/pages/offers/giffgaff/" class="navbar-link">Giffgaff</a></li>
<li><a href="/pages/offers/virgin/" class="navbar-link">Virgin</a></li>
        </ul>
      </div>
    </div>
<div class="nav-category">
      <button type="button" class="brand-nav-btn category-nav-btn">Shopping</button>
      <div class="nav-dropdown" style="border: 2px solid #e65100;">
        <ul>
<li><a href="/pages/offers/shein/" class="navbar-link">Shein</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>